@import "../../Styles/global";

.container {
  padding: 1em 0;
  //   float: left;
  width: 100%;
  //   display: flex;
  //   justify-content: space-around;
}
.tesssst {
  display: flex;
  justify-content: space-evenly;
  //   align-items: center;
  //   align-content: space-between;
  flex-wrap: wrap;
}
.container-link-wrp {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.content-link {
  width: 10%;
  cursor: grab;
}

@media screen and (max-width: 766px) {
  .tesssst {
    display: block;
    width: 100%;
  }

  // .content {
  //   width: 80%;
  // }
}

// @media screen and (min-width: 900px) {
//   .container {
//     width: 33.33333%;
//   }
// }

.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  width: 80%;
  border-radius: 5px;
  position: relative;
  margin: 40px auto;
  overflow: hidden;
  @include tablet {
    width: 35%;
    // max-height: 400px;
  }
}

.content .content-overlay {
  background: rgba(248, 240, 240, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  // border-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  height: 100%;
  border: 5px solid white;
  border-radius: 5px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  height: 90%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  @include tablet {
    height: 40%;
  }
}

.content-title {
  margin-top: 20px;
  font-family: "BreeSerif";
  font-size: 2rem;
}

.content-text {
  font-family: "BreeSerif";
  color: white;
  font-size: 0.9rem;
  @include tablet {
    font-size: 1.1rem;
  }
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 0.5;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

// .content-details p {
//   color: #fff;
//   font-size: 0.8em;
// }

.fadeIn-bottom {
  top: 80%;
}
