@font-face {
  font-family: "BioRhyme";
  src: url("../Assets/Fonts/BioRhyme-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpaceMono";
  src: url("../Assets/Fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
