@font-face {
  font-family: "GloriaHallelujah";
  src: url("../Assets/Fonts/GloriaHallelujah.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ArchitectsDaughter";
  src: url("../Assets/Fonts/ArchitectsDaughter.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BreeSerif";
  src: url("../Assets/Fonts/BreeSerif.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
