@import "../../Styles/global";

.about-me {
  z-index: 3;

  &__sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: transparent;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #6b1839,
      transparent
    );

    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    font-family: "ArchitectsDaughter";
    font-size: 3em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff69b4,
      -0.2rem 0.1rem 1rem #ff69b4, 0.2rem 0.1rem 1rem #ff69b4,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;

    @include tablet {
      font-size: 7rem;
    }

    @include desktop {
      font-size: 10rem;
    }
  }

  &__fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
    background-color: transparent;
  }

  &__flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
    background-color: transparent;
  }

  &__container {
    margin-top: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
    }

    @include desktop {
      margin-top: 10%;
    }
  }

  &__statement {
    font-family: "BreeSerif";
    letter-spacing: 2px;
    margin-top: 15%;
    font-size: 1.1rem;
    line-height: 2.5rem;
    text-align: center;
    color: whitesmoke;
    max-width: 90%;

    @include tablet {
      line-height: 3rem;
      font-size: 1.5rem;
      max-width: 50%;
      margin-top: 15%;
    }

    @include desktop {
      margin-top: 10%;
      line-height: 5rem;
      font-size: 2rem;
      max-width: 50%;
    }
  }

  &__polaroid-a {
    border-radius: 10px;
    background: #ffffff;
    display: inline-block;
    margin-top: 10%;
    max-width: 290px;
    padding: 5px 5px 40px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 100;
    position: relative;

    @include tablet {
      margin-top: 15%;
      max-width: 400px;
      max-height: 280px;
      padding: 10px 10px 40px;
    }

    @include desktop {
      width: 435px;
      max-width: 435px;
      max-height: 400px;
      padding: 10px 12px 40px;
    }

    &:after {
      color: rgb(107, 43, 43);
      font-family: "ArchitectsDaughter";
      font-size: 1rem;
      content: attr(title);
      position: relative;
      top: 15px;
    }

    &:hover {
      transform: rotate(1.2);
      -webkit-transform: rotate(-2deg);
      -moz-transform: rotate(-2deg);
      z-index: 10;
      cursor: crosshair;
      -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    }
  }

  &__polaroid-picture {
    border-radius: 10px;
    width: 260px;
    max-width: 260px;
    margin-top: 2%;

    @include tablet {
      width: 450px;
      display: block;
    }

    @include desktop {
      width: 410px;
      max-width: 410px;
    }
  }

  &__cv-wrap {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 8%;
  }

  &__cv-download {
    z-index: 1000;
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
  }

  &__save {
    background-color: transparent;
    color: #45eeff;
    font-size: 2rem;
  }

  &__save-text {
    position: relative;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: "BreeSerif";
    font-weight: 500;
    letter-spacing: 2px;
    color: #45eeff;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__skills-title {
    text-align: center;
    font-family: "ArchitectsDaughter";
    font-size: 4rem;
    color: #ff2483;
    font-weight: 800;
    position: relative;
    background-color: transparent;
    // margin-top: 150%;
    // margin-bottom: 10%;

    @include tablet {
      font-size: 5rem;
    }

    @include desktop {
      font-size: 6.5rem;
      margin-bottom: 2%;
      margin-top: 5%;
    }
  }

  &__skills-container {
    margin-top: 10px;
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 60vh;
    z-index: 1000;
  }

  &__skills-box {
    z-index: 1000;
    background-color: transparent;
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    line-height: 0;

    &:hover {
      flex: 1 1 20%;
    }
  }

  &__skills-img {
    opacity: 0.3;
    background-color: unset;
    width: 100%;
    height: calc(100% - 10vh);
    object-fit: contain;
    transition: 0.5s;
    &:hover {
      opacity: 0.9;
    }
  }

  &__skills-name {
    background-color: transparent;
    font-size: 0.75rem;
    font-family: "ArchitectsDaughter";
    display: block;
    text-align: center;
    line-height: 2.6;
    color: WHITE;

    @include tablet {
      font-size: 1.1rem;
    }

    @include desktop {
      font-size: 1.7rem;
    }
  }
}

/* Animation Keyframes */

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

/*** HEX CONTENT ******************************************************/

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex::after {
  content: "";
  display: block;
  padding-bottom: 86.602%; /* =  100 / tan(60) * 1.5 */
}
.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
  //   border: 3px solid white;
  background-color: #b7f3ed;
  opacity: 0.8;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

.hex img {
  left: -100%;
  right: -100%;
  background-color: #b7f3ed;
  width: 60%;
  height: 50%;
  margin: 30% auto;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}

.hex h1,
.hex p {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 300;
  -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.3s ease-out;
  transition: transform 0.2s ease-out, opacity 0.3s ease-out;
}
.hex h1 {
  bottom: 50%;
  padding-top: 50%;
  font-size: 1.5em;
  z-index: 1;
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.hex h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hex p {
  top: 50%;
  padding-bottom: 50%;
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1,
.hexLink:focus h1,
.hexLink:hover p,
.hexLink:focus p {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/

@media (min-width: 601px) {
  /* <- 3-2  hexagons per row */
  #hexGrid {
    padding-bottom: 7.4%;
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n + 4) {
    /* first hexagon of even rows */
    margin-left: 16.666%; /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) {
  /* <- 2-1  hexagons per row */
  #hexGrid {
    padding-bottom: 11.2%;
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n + 3) {
    /* first hexagon of even rows */
    margin-left: 25%; /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
  #hexGrid {
    font-size: 13px;
  }
}
