@import "../../Styles/fonts";

.home-greeting {
  position: absolute;
  z-index: 2;
  margin-top: 10%;
  background-color: transparent;
  margin-left: 5%;
  // min-height: 525px;
  min-width: 405px;
  &__logo {
    width: 50px;
    background-color: transparent;
  }
}

h1 {
  background-color: transparent;
  margin-bottom: 25px;
  min-height: 205px;
  max-height: 205px;
}

h2 {
  background-color: transparent;
  margin-top: 10%;
  // margin-bottom: 5%;
  color: #a2d6d1;
  font-family: "SpaceMono";
  font-size: 1rem;
  // display: inline;
  // overflow: hidden;
  // max-height: 20px;
  min-height: 24px;
  cursor: default;
}

.home-greeting__text {
  font-size: 1.9rem;
  letter-spacing: 5px;
  color: #98ff98;
  color: #b7f3ed;
  font-family: "BioRhyme";
  margin-top: 5%;
  opacity: 1;
  display: inline-block;
  background-color: transparent;
  &:hover {
    cursor: default;
    -webkit-animation: jello-vertical 1.5s both;
    animation: jello-vertical 1.5s both;
  }
  &:nth-child(7) {
    padding-right: 10px;
  }
  &:nth-child(8) {
    color: #ff69b4;
  }
  &:nth-child(16) {
    padding-right: 10px;
  }
}

.test {
  margin-top: 2%;
}

.wordCarousel {
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 100;
  color: #98ff98;
  &__text {
    font-family: "SpaceMono";
    background-color: transparent;
  }
  div {
    background-color: transparent;
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;
    ul {
      background-color: transparent;
    }
    li {
      background-color: transparent;
      font-family: "spaceMono";
      letter-spacing: 0.5px;
      color: #98ff98;
      font-weight: 500;
      padding: 0 10px;
      height: 45px;
      margin-bottom: 45px;
      display: block;
    }
  }
}

// Text Flipper Animation

.flip5 {
  animation: flip5 14s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip5 {
  0% {
    margin-top: -450px;
  }
  5% {
    margin-top: -360px;
  }
  10% {
    margin-top: -360px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -270px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -180px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: -90px;
  }
  90% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -360px;
  }
}

// Bouncing Text Animation

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.testtest {
  color: #ff69b4;
}

.testtest1 {
  color: #98ff98;
}

.testtest2 {
  color: #40e0d0;
}

.testtest3 {
  color: #ff69b4;
}
