// .test {
//   width: 96%;
//   //   height: 1000px;
//   margin: 5% 2%;
//   position: relative;
// }

.testtest {
  color: whitesmoke;
  font-size: 2rem;
  //   position: absolute;
  //   top: 20%;
  margin-top: 10%;
  margin-left: 6%;
  //   left: 6%;
}
.testtest1 {
  color: whitesmoke;
  font-size: 2rem;
  margin-top: 5%;
  margin-left: 6%;
  //   position: absolute;
  //   top: 25%;
  //   left: 6%;
}

.testtest2 {
  color: whitesmoke;
  font-size: 2rem;
  margin-top: 5%;
  margin-left: 6%;
  //   position: absolute;
  //   top: 30%;
  //   left: 6%;
}

.testtest3 {
  color: whitesmoke;
  font-size: 1rem;
  margin-top: 7%;
  margin-left: 6%;
  //   position: absolute;
  //   top: 36%;
  //   left: 6%;
}
