@import "../../Styles/global";
.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form {
  padding: 10%;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  &__title {
    font-family: "ArchitectsDaughter";
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 7%;
    text-align: center;
    @include tablet {
      font-size: 2rem;
    }
  }
  &__divider {
    border-bottom: 3px solid #98ff98;
    margin-bottom: 7%;
    margin-top: 7%;
    width: 80%;
    margin-left: 10%;
  }
  &__socials {
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
  }
  &__social-icon {
    background-color: transparent;

    color: #b7f3ed;
  }
  &__container {
    margin-top: 10%;
  }
  &__label-user {
    position: relative;
  }
  &__label-envelope {
    position: relative;
  }
  &__label-comment {
    position: relative;
  }
  &__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.25rem;
    font-family: "BreeSerif";
    background: transparent;
    margin: 7px 0;
    border: 3px solid #b7f3ed;
    border-radius: 10px;
    color: #fff;
    padding-left: 55px;
    padding-bottom: 5px;
    opacity: 0.7;
    min-height: 55px;
    text-shadow: none;
    &:focus {
      color: white;
      outline: none;
      border-color: #98ff98;
      cursor: pointer;
      opacity: 0.9;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__input-msg {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.25rem;
    background-color: transparent;
    margin: 7px 0;
    border: 3px solid #b7f3ed;
    border-radius: 10px;
    color: #fff;
    font-family: "BreeSerif";
    padding-top: 7px;
    padding-left: 55px;
    padding-bottom: 5px;
    opacity: 0.7;
    min-height: 55px;
    text-shadow: none;
    resize: none;
    &:focus {
      color: white;
      outline: none;
      border-color: #98ff98;
      cursor: pointer;
      opacity: 0.9;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__icon-user {
    color: white;
    background-color: transparent;
    margin-top: 11px;
    margin-left: 10px;
    position: absolute;
  }
  &__icon-envelope {
    color: white;
    background-color: transparent;
    margin-top: 11px;
    margin-left: 10px;
    position: absolute;
  }
  &__icon-comment {
    color: white;
    background-color: transparent;
    // top: 5%; chrome and safari okay
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
  }
  &__button {
    width: 100%;
    height: 50px;
    color: white;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: "ArchitectsDaughter";

    padding: 0;
    border: 3px solid #b7f3ed;
    border-radius: 10px;
    position: relative;
    &:hover {
      background: #b7f3ed;
      color: #fff;
      cursor: pointer;
      opacity: 1;
    }
  }
}
.fa-paper-plane {
  margin-right: 10px;
  background-color: transparent;
}

.contact-form__input::placeholder {
  color: #fff;
  font-size: 1.25rem;
  font-family: "BreeSerif";
  padding-top: 0;
}
.contact-form__input-msg::placeholder {
  font-size: 1.25rem;
  color: white;
  font-family: "BreeSerif";
}

// @-moz-document url-prefix() {
//   .contact-form__icon-user {
//     margin-top: 22px;
//   }
//   .contact-form__icon-envelope {
//     margin-top: 22px;
//   }
//   .contact-form__icon-comment {
//     margin-top: 22px;
//   }
// }
