@import "../../Styles/global";

// NavBar styling for tablet and desktop media

.navBar {
  // background-color: #b7f3ed;
  background-color: #050a17;
  border-bottom: 2px solid #45eeff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  &__logo-link {
    margin-left: 5%;
    padding-bottom: 0;
    background-color: transparent;
  }
  &__title {
    justify-self: start;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: "Gladiator";
    color: #ff69b4;
    background-color: transparent;
    // align-self: center;
    // padding-top: -10px;
    // padding-bottom: 0;
    // margin-top: 5px;
    margin-right: 5%;
    margin-left: 4%;
  }

  &__menu {
    display: grid;
    // background-color: #b7f3ed;
    background-color: #050a17;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: end;
    margin-right: 2rem;
  }

  &__link {
    // background-color: #b7f3ed;
    background-color: #050a17;
    // color: #051418;
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: "BreeSerif";
    text-decoration: none;
    padding: 0.5rem 1rem;
    z-index: 9;
    &:hover {
      // background-color: rgb(143, 57, 57);
      // border-radius: 4px;
      font-weight: 800;
      color: #45eeff;
      // color: #1854e0;
      transition: all 0.2s ease-out;
    }
  }

  &__menu-icon {
    display: none;
  }
}

.fa-bars {
  color: white;
  background-color: #050a17;
  margin-top: 5px;
}

// Nav Bar stylings for mobile and hamburger menu

@media screen and (max-width: 767px) {
  .navBar {
    position: relative;

    &__menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
    }
    // &__menu-link {
    //   background-color: #054b44;
    // }

    &__menu-active {
      position: absolute;
      background-color: #b7f3ed;
      width: 100%;
      top: 80px;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 10;
    }

    &__link {
      text-align: center;
      padding: 1rem;
      width: 100%;
      display: table;
      &:hover {
        border: #b7f3ed;
        color: #b7f3ed;
        background-color: #45f0ffaf;
        border-radius: 0;
      }
    }

    &__title {
      position: absolute;
      top: -28px;
      left: -15px;
      transform: translate(25%, 50%);
    }

    &__menu-icon {
      background-color: #050a17;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  }

  .fa-times {
    background-color: #050a17;
    color: #fff;
    font-size: 2rem;
  }
  // .menu-link {
  //   background-color: #054b44;
  // }
}

a {
  text-decoration: none;
}
