@import "../../Styles/global";

// NavBar styling for tablet and desktop media

.navBar {
  background-color: #b7f3ed;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  &__logo-link {
    margin-left: 5%;
    padding-bottom: 0;
    background-color: transparent;
  }
  &__title {
    justify-self: start;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    background-color: transparent;
    padding-bottom: 11px;
    margin-right: 5%;
    margin-left: 4%;
  }

  &__menu {
    display: grid;
    background-color: #b7f3ed;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: end;
    margin-right: 2rem;
  }

  &__link {
    background-color: #b7f3ed;
    color: #6e6d6d;
    font-size: 1.5rem;
    font-family: "BioRhyme";
    text-decoration: none;
    padding: 0.5rem 1rem;
    z-index: 9;
    &:hover {
      // background-color: rgb(143, 57, 57);
      // border-radius: 4px;
      font-weight: 800;
      color: white;
      transition: all 0.2s ease-out;
    }
  }

  &__menu-icon {
    display: none;
  }
}

.fa-bars {
  color: white;
  background-color: #b7f3ed;
  margin-top: 5px;
}

// Nav Bar stylings for mobile and hamburger menu

@media screen and (max-width: 767px) {
  .navBar {
    position: relative;

    &__menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
    }
    // &__link {
    //   padding-bottom: 0;
    // }

    &__menu-active {
      position: absolute;
      background-color: #b7f3ed;
      width: 100%;
      top: 80px;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 10;
    }

    &__link {
      text-align: center;
      padding: 1rem;
      width: 100%;
      display: table;
      &:hover {
        background-color: #2a3b49;
        border-radius: 0;
      }
    }

    &__title {
      // background-color: #e2dfdf;
      position: absolute;
      top: -21px;
      left: -15px;
      transform: translate(25%, 50%);
    }

    &__menu-icon {
      background-color: #b7f3ed;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  }

  .fa-times {
    background-color: #b7f3ed;
    color: #fff;
    font-size: 2rem;
  }
}

a {
  text-decoration: none;
}
